@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply
  m-0
  p-0
  box-border
  select-none;
}

html, body {
  @apply
  h-full w-full
  font-poppins
  text-textPrimary
  bg-surface
  overflow-x-hidden
  scroll-smooth;
}

*::-webkit-scrollbar {
  @apply w-0;
}

//#image-list {
//  scrollbar-width: thin;
//  scrollbar-color: #60A7F9 #FCFCFF;
//}

#image-list::-webkit-scrollbar {
  width: 7px;
}
#image-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f3f7fb;
}

#image-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #deedff;
  transition: background-color .3s ease-in-out;
}
#image-list::-webkit-scrollbar-thumb:hover {
  background-color: #b7daff;
}

section {
  @apply pt-[3.25rem];
}