.custom-loader {
  --size: 50px;
  --backgroundSize: 10px;
  --color: "#fff";
  width: var(--size);
  height: var(--size);
  --c: radial-gradient(farthest-side, var(--color) 92%,#0000);
  background:
          var(--c) 50%  0,
          var(--c) 50%  100%,
          var(--c) 100% 50%,
          var(--c) 0    50%;
  background-size: var(--backgroundSize) var(--backgroundSize);
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}
.custom-loader::before {
  content:"";
  position: absolute;
  inset:0;
  margin: 1.5px;
  background:repeating-conic-gradient(#0000 0 35deg, var(--color) 0 90deg);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 1.5px),#000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100%{transform: rotate(.5turn)}
}